<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title }}
        {% endblock %}
    </title>

    {% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'suppliers/style.css' %}">
    {% endblock %}

    {% block icon %}
    <link rel="icon" href="{% static 'images/icon.png' %}">
    {% endblock %}

    {% block js %}
    <script></script>
    {% endblock %}
</head>
<body>

{% block content %}
<div class="header">
    <div class="container">

        <div class="menu_navigation">
            <a href="#"><img class="header_image" src="{% static 'images/supplier.png' %}" alt="supplier image"></a>
            <a href="#"><img class="header_image" src="{% static 'images/about.png' %}" alt="about image"></a>
        </div>
        <h1 class="header_h1">{{title}}</h1>

    </div>
</div>
{% endblock %}

</body>
</html>