{% extends 'suppliers/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'suppliers/style.css' %}">

{% block content %}
<h1>{{title}}</h1>
<select name="suppliers">
    <option disabled="disabled" selected>-- Выберите поставщика --</option>
    {% for supplier in suppliers %}
    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
    {% endfor %}
</select>
<select name="suppliers">
    <option disabled="disabled" selected>-- Выберите категорию --</option>
    {% for supplier_parameter in supplier_parameters %}
    <option value="{{ supplier_parameter.id }}">{{ supplier_parameter.name }}</option>
    {% endfor %}
</select>
{% endblock %}