{% extends 'suppliers/base.html' %}

{% load static %}
{% block js %}
<!-- Выпадающий список с поиском и выбором  -->
<script type="text/javascript" src="{% static 'suppliers/multiselect-dropdown.js' %}"></script>
<!-- для ajax чтобы не скачивать jQuery ?-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- запросы  -->
<script type="text/javascript" src="{% static 'suppliers/main.js' %}"></script>

<!-- для иерархического списка  -->
<link rel="stylesheet" href="{% static 'suppliers/tree_picker/simple_tree_picker.css' %}"/>
<script src="{% static 'suppliers/tree_picker/simple_tree_picker.js' %}"></script>


{% endblock %}

{% block content %}
{{ block.super }}

<div class="content_site">
    <div class="container">

        <form action="">

            <div class="suppliers_data">
                <select class="select select_margin"
                        name="suppliers"
                        onchange="suppliersOnChanged()"
                        id="suppliers_select"
                >
                    <option disabled="disabled" selected>-- Поставщик --</option>
                    {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                    {% endfor %}
                </select>


                <select class="select"
                        id="supplier_parameters_select"
                        name="supplier_parameters_data"

                        {% if is_multiple %}
                        multiple
                        multiselect-search="true"
                        multiselect-max-items="{{ max_items_in_dropdown_menu }}"
                        multiselect-select-all="{{ select_all }}"
                        multiselect-hide-x="false"
                        {% endif %}
                >
                    {% for supplier_parameter in supplier_parameters %}
                    <option value="{{ supplier_parameter.id }}">{{ supplier_parameter.parameter_name }}</option>
                    {% endfor %}
                </select>

                <div class="tree"></div>
            </div>

            <div class="textarea_block">
                <textarea class="textarea" id="list_codes" cols="30">4400003
4400013
R5ST0231
4400005</textarea>
            </div>

            <div class="submit_input">
                <input type="button" value="Скачать" class="button_input" onclick="downloadOnClick()">
            </div>
        </form>

        <div class="demo" style="display:none;">
            <button type="button" class="btn btn-success btn-lg" style="padding:10px;">AJAX_DEMO</button>
            <ul id="seconds">
            </ul>
        </div>

    </div>
</div>

{% endblock %}