{% extends 'suppliers/base.html' %}

{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'suppliers/multiselect-dropdown.js' %}"></script>

{% endblock %}

{% block content %}
{{ block.super }}

<div class="content_site">
    <div class="container">

        <form action="">
            <div id="data-from-script">
                {{data1}}
            </div>

            <div class="suppliers_data">
                <select class="select"
                        name="suppliers"
                        onchange="suppliersOnChanged()"
                        id="suppliers_select"
                >
                    <option disabled="disabled" selected>-- Поставщик --</option>
                    {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                    {% endfor %}
                </select>


                <select class="select"
                        id="supplier_parameters_select"
                        name="supplier_parameters_data"
                        {% if is_multiple %}
                        multiple
                        multiselect-search="true"
                        multiselect-select-all="true"
                        {% endif %}
                >
                    {% for supplier_parameter in supplier_parameters %}
                    <option value="{{ supplier_parameter.id }}">{{ supplier_parameter.parameter_name }}</option>
                    {% endfor %}
                </select>

                <select class="select" name="articles_data">
                    <option disabled="disabled" selected>-- Артикулы --</option>
                    {% for article in articles %}
                    <option value="{{ article.id }}">{{ article.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="submit_input">
                <input type="submit" value="Скачать" class="button_input">
            </div>
        </form>

        <div class="demo">
            <button type="button" class="btn btn-success btn-lg" style="padding:10px;">AJAX_DEMO</button>
            <ul id="seconds">
            </ul>
            <!-- для ajax чтобы не скачивать jQuery ?-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <!-- запросы  -->
            <script type="text/javascript" src="{% static 'suppliers/main.js' %}"></script>
        </div>

    </div>
</div>

{% endblock %}