* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menu_navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 10px;
    min-height: 100px;
    background-color: #1abc9c;
    color: white;
}

.content_site {
    margin-top: 35px;
}

.suppliers_data {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-bottom: 10px;
}

.select {
    min-height: 30px;
    /* max-height: 30px; */
}

.submit_input {
    display: flex;
    justify-content: center;
}

.button_input {
    padding: 10px;
}