/* Shift+F5 — принудительное обновление (без учёта кеша) */

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menu_navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 10px;
    min-height: 100px;
    background-color: #1abc9c;
    color: white;
}

.header_image {
    width: 55px;
    height: 55px;
    margin: 10px;
}

.header_h1 {
    padding-bottom: 20px;
    padding-left: 20px;
}

.content_site {
    margin-top: 35px;
}

.suppliers_data {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.select {
    min-height: 30px;
    min-width: 150px;
    /* max-height: 30px; */
}

.select_margin {
    margin-right: 100px;
}

.select_parameters {
    min-height: 30px;
    /* max-height: 30px; */
}

.submit_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif{
    width: 70px;
    height: 70px;
    display: none;
}

.button_input {
    padding: 10px;
}

.textarea_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textarea {
    height: 200px;
    max-height: 200px;
    min-height: 50px;
    max-width: 1000px;
    min-width: 200px;
}

.tree {
    max-height: 230px;
    max-width: 600px;
    overflow-y: scroll;
}

