li a {
    color: blue;
}

body {
    background: white url("/static/images/img.png") no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}